#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#window {
  background-color: #292e42;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}
